.samp
  / %h5.title 週次タスク用(JSで出したり消したりする)
  .input-group.form-group-no-border.input-lg
    %span.input-group-addon
      = f.label :week
    = f.week_field :week, class: 'form-control', required: true, disabled: true
