%nav.navbar.navbar-expand-lg.bg-uptech.fixed-top{"color-on-scroll" => "400"}
  .container
    .navbar-translate
      %a.navbar-brand{href: "/"}
        = image_tag 'logo-white.svg', alt: 'Uptech'

-# #nav
-#   - if current_user
-#     = link_to "SignOut", :sign_out, method: :post
-#   - else
-#     / = link_to "SignUp", :sign_up
-#     = link_to "SignIn", :sign_in
-#   %div
-#     %p#notice= flash[:notice]
-#     %p#alert= flash[:alert]